Demo/HelloWorld/HelloWorld.xcodeproj/project.xcworkspace/xcshareddata/HelloWorld.xccheckout
Demo/HelloWorld/HelloWorld.xcodeproj/project.xcworkspace/xcuserdata/kylezhao.xcuserdatad/UserInterfaceState.xcuserstate
Demo/HelloWorld/HelloWorld.xcodeproj/xcuserdata/kylezhao.xcuserdatad/xcschemes/HelloWorld.xcscheme
Demo/HelloWorld/HelloWorld.xcodeproj/xcuserdata/kylezhao.xcuserdatad/xcschemes/xcschememanagement.plist
